services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.2.2-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - y-network
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  database:
    image: postgres:18.1
    container_name: ${DB_SERVICE_NAME}
    environment:
      POSTGRES_DB: ${USERS_DB_NAME}
      USERS_DB_NAME: ${USERS_DB_NAME}
      POSTS_DB_NAME: ${POSTS_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      FLYWAY_USER: ${FLYWAY_USER}
      FLYWAY_PASSWORD: ${FLYWAY_PASSWORD}
    networks:
      - y-network
    volumes:
      - users_data:/var/lib/postgresql
      - ./postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    ports:
      - "${DB_PORT}:5432"

networks:
  y-network:
    name: y-network
    # external: true

volumes:
  users_data:
  posts_data:
  rabbitmq_data:
